body {
  margin: 0 auto;
  background-color: rgb(45, 45, 40);
}
/* Nav */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgb(36, 36, 37);
  display: flex;
  justify-content: space-between;
}
.nav-left,
.nav-right {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}
.nav a {
  color: #222020;
  font-size: 20px;
}
.nav a:hover {
  /* background: #ddd; */
  color: rgb(255, 255, 255);
}

li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  padding-left: 0;
  display: inline-block;
}
.nav ul li a {
  color: aliceblue;
  font-size: 22px;
  text-decoration: none;
}

/*Heading*/

.hero {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(images/bg.jpeg);

  image-rendering: inherit;
  image-rendering: initial;
  image-rendering: revert;
  image-rendering: unset;

  background-position: 50% 50%;
  image-rendering: crisp-edges;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.hero-wrapper {
  width: 100%;
}

.media {
  color: rgb(255, 255, 255);
  position: absolute;
  justify-content: space-between;
  bottom: 10;
  left: 45%;
  padding-bottom: 2px;
  font-size: 25px;
}

h1 {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 0 auto;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

h2 {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
h3 {
  color: aliceblue;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

hr {
  max-width: 5rem;
  padding: 2px;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
}

p {
  color: aliceblue;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 5px solid rgb(7, 7, 7);
  padding: 50px;
  margin: 20px;
}

input {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px 100px;
  display: flex;
  margin: 0 auto;
  font-style: italic;
  background-color: hsl(204, 3%, 34%);
  opacity: 0.5;
  text-align: center;
  color: rgb(255, 255, 255);
}
::placeholder {
  color: whitesmoke;
  font-display: initial;
}

.container-s2 {
  border: none;
  max-width: 650%;
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(59, 20, 53, 0.5) 0%,
    rgba(46, 44, 42, 0.5) 100%
  );
}
.container-image {
  width: 50%;
  align-self: center;
  margin: 20px 30px 0px 0;
  display: inline-block;
  object-fit: contain;
}
.s2 {
  display: initial;
}
.container-s3 {
  background-image: url(images/photo-1512386233331-f023884a92e8.jpeg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 50px 50px 50px;
  max-width: 650%;
  display: flex;
}
.container-image2 {
  width: 50%;
  align-self: center;
  display: inline-block;
  object-fit: contain;
}
.s3 {
  display: initial;
}
.zoom {
  padding: 40px;
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.label {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(15, 15, 15);
  text-align: center;
  font-size: 16px;
  margin: 20px;
}
button {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 9px 15px;
  border: none;
  margin: 20px;
}
.container-s4 {
  background-image: url(images/photo-1532153975070-2e9ab71f1b14.jpeg);
  image-rendering: crisp-edges;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 50px 50px 50px;
  max-width: 650%;
}

.s4 {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  right: 20%;
}
.page-section {
  padding: 6rem 0;
}
@keyframes example {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .container-1 {
  transform: rotate(0deg);
} */

.image-box {
  width: 30rem;
  height: auto;
  display: block;
  object-fit: contain;
}
.column {
  /* width: 35%;
  padding: 5px; */
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  position: relative;
  display: inline-table;
  width: 100%;
  max-width: 300px;
  padding: 4 4px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12rem;
}
.text {
  color: aliceblue;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 30rem;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.column:hover .overlay {
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 16x;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  #nav {
    box-shadow: none;
    background-color: rgba(0 0 0 / 0%);
  }
}
*,
* ::before,
*::after {
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding: 10px;
  color: white;
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
}

@media screen and (min-width: 480px) {
  #nav {
    width: 200px;
    float: left;
  }
  #hero {
    margin-left: 216px;
  }
}
